#criar {
background-color: rgb(0, 132, 255);
}

#reiniciar {
background-color: rgb(255, 110, 134);
}

#jogar {
background-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: auto;
    flex-direction: row;
    margin-top: 200px;
}

section#interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

div {
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 30px;
    font-family:cursive;
    margin-bottom: 10px;
}

button {
    border: 3px solid lightgray;
    width: 110px;
    height: 50px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

th {
    height: 50px;
    width: 50px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

#bingo {
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#areadojogo {
    width: 50vw;
}

#interface {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartelas {
    border: 2px lightblue solid;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#divCartela {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 5%;
}

#nomeCartela {
    font-size: 30px;
}